.slider__container{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 45vw;
    max-height: 550px;
}

.slider {
    width: 100%;
    position: absolute;
    transition: transform ease-in 500ms;
}

.slider img{
    object-fit: contain;
}

.slider__dot_container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.slider__dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    padding: 0.2rem;
    margin: 0 0.5rem;
    transition: scale ease-in-out 300ms;
}

.slider__dot.active {
    scale: 1.2;
    border: 1px solid white;
    background-color: transparent;
}
