:root {
  --accent-color-1: rgb(61, 102, 55);
  --text-color-light: rgb(84, 83, 83);
  --footer-color: #e7eeea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}


/* *************** CUSTOM STYLES ***************** */

.logo {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem 0;
}

.logo a {
  color: black;
}


/* Button style */
.btn {
  border: 1px solid var(--text-color-light);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  color: var(--text-color-light);
  background-color: #fff;
  font-weight: 300;
  text-align: center;
}

.btn:hover {
  transition: all ease-in 200ms;
  color: rgb(235, 230, 230);
  background-color: rgb(61, 102, 55);
}

/* section heading style */
.heading__partition {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.heading__text {
  font-weight: 200;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 500px;
  text-align: center;
}

.heading__lines{
  border-top: 1px solid black;
  width: 100%;
  height: 0;
}

/* This is the common layout style to display the list of products throughout some pages  */
.products_layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:end;
    gap: 3rem;
    padding: 1rem 0 3rem;
}

.pagination {
  padding: 0 0 3rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

.page_btn {
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 0.5rem;
}

.page_btn.active, .page_btn:hover {
  color: white;
  background-color: var(--accent-color-1);
  transition: all ease-in-out 200ms;
}

@media screen and (max-width: 850px) {
  .container{
    padding: 1rem;
  }
}

@media  screen and (max-width: 650px) {
    .products_layout{
      gap: 1.5rem;
      padding: 1rem 0 3rem;
    }

    .heading__text {
      font-size: 1rem;
    }
}

@media  screen and (max-width: 460px) {
    .products_layout{
      gap: 1rem;
    }
}

/* utility classes */
.flex{
  display: flex;
}
.flex-center{
  justify-content: center;
  align-items: center;
}

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif');
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}