.popular__section {
    flex-direction: column;
    align-items: center;
}

.popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:end;
    gap: 2rem;
}

.popular__btn {
    margin: 2rem auto;
    padding: 0.5rem 2rem;
    font-weight: 500;
}